*~
.gradle/
/*.pdf
RCS/
/Cherokee Language Lessons-Volume I.md
/Cherokee Language Lessons-Volume I.tex
/RCS.old
ᏴᏫ.html.LyXconv/
settings.sample.json
/reports/
/ref/
_OLD/
Cherokee Language Lessons 2.txt
*.aux
*.log
*.out
Running-Vocab-List-V1.tex
/tpr-tprs-reference-material/
